/* Closing brackets are formatted strangely
// IN VS CODE, A RULE LIKE THIS:
ul {
    padding: 0}
// COLLAPSES A RANGE LIKE THIS:
ul {⋯
// This is a line shorter than usual, so I prefer this :] */

@font-face {
    font-family:'ReVOLVE';
    src: url('../ReVOLVE.woff2'), url('../ReVOLVE.woff'), url('../ReVOLVE.ttf')}

html {
    background:#181a1b;
    /* Enable scroll and zoom on iOS WebKit
    This overrides the root stylesheet. */
    overflow: auto;
    touch-action: unset}

input {
    margin-top: 25px}

p {
    max-width: 757px}

code {
    color:#0f0}

#textbox {
    background-image: url('../textbox.png');
    background-size: cover;
    image-rendering: pixelated;
    width: 757px;
    height: 297px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 15px;
    font: 46px/.75em 'ReVOLVE';
    word-spacing: 7px}